<template>
<v-app>
   <div id="app">
     <v-toolbar dark fixed color="primary">
    <v-toolbar-side-icon dark @click.stop="drawer = !drawer"></v-toolbar-side-icon>

    <v-toolbar-title class="white--text">Frappe Connector</v-toolbar-title>

    <v-spacer></v-spacer>
    <!--
      <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>apps</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>refresh</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    -->
    </v-toolbar>
    <div id="nav">
     <v-layout wrap style="padding-top: 4em">
        <v-navigation-drawer v-model="drawer" fixed temporary>
          <v-list class="pa-1">
            <v-list-tile avatar>
              <v-list-tile-avatar>
                <v-icon class="icon" medium>developer_board</v-icon>
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title>Frappe Options</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        <v-list>
          <v-list-tile
            v-for="(item, index) in items"
            :key="index"
            @click.stop="getMessage(item.route)">
            <v-icon class="icon" medium>{{ item.icon }}</v-icon>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
        </v-navigation-drawer>
      </v-layout>
    </div>
    <router-view />
    <iframe height="0" width="0" src="/silent-refresh.html" frameborder="0"></iframe>
  </div>
</v-app>
</template>
<script lang="ts">
import router from './router';

export default {
   data() {
    return {
      drawer: null,
      items: [
        { title: 'Frappe clients', icon: 'accessibility_new', route: '/listing/frappe'  },
        { title: 'Frappe Request logs', icon: 'perm_data_setting', route: '/listing/request_log' },
        { title: 'System Settings', icon: 'settings', route: '/settings' },
      ],
    };
  },
  methods: {
    getMessage(item) {
      router.push(item);
    },
  },
};
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 0.6em;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
