<template>
  <v-layout justify-center>
    <v-flex xs12 sm10 md8 lg6>
      <v-card ref="form">
        <v-card-text>
          <v-text-field
            ref="name"
            v-model="name"
            :rules="[() => !!name || 'This field is required']"
            :error-messages="errorMessages"
            label="Client Name"
            placeholder="Frappe Client Name"
            required
            ></v-text-field>
          <v-text-field
            ref="clientId"
            v-model="clientId"
            :rules="[() => !!uuid || 'This field is required']"
            :error-messages="errorMessages"
            label="Client ID"
            placeholder="Frappe Client ID"
            required
            ></v-text-field>
          <v-text-field
            ref="clientSecret"
            v-model="clientSecret"
            :rules="[() => !!uuid || 'This field is required']"
            :error-messages="errorMessages"
            label="Client Secret"
            placeholder="Frappe Client Secret"
            required
          ></v-text-field>
          <v-text-field
            ref="profileURL"
            v-model="profileURL"
            :rules="[() => !!profileURL || 'This field is required']"
            :error-messages="errorMessages"
            label="Profile URL"
            placeholder="Frappe Profile URL"
            required
            ></v-text-field>
          <v-text-field
            ref="tokenURL"
            v-model="tokenURL"
            :rules="[() => !!tokenURL || 'This field is required']"
            :error-messages="errorMessages"
            label="token URL"
            placeholder="Frappe token URL"
            required
            ></v-text-field>
          <v-text-field
            ref="authServerURL"
            v-model="authServerURL"
            :error-messages="errorMessages"
            label="Auth Server URL"
            placeholder="Auth Server URL"
          ></v-text-field>
           <v-text-field
            ref="authorizationURL"
            v-model="authorizationURL"
            :rules="[() => !!authorizationURL || 'This field is required']"
            :error-messages="errorMessages"
            label="authorization URL"
            placeholder="Frappe authorization URL"
            required
            ></v-text-field>
           <v-text-field
            ref="revocationURL"
            v-model="revocationURL"
            :rules="[() => !!revocationURL || 'This field is required']"
            :error-messages="errorMessages"
            label="revocation URL"
            placeholder="Frappe revocation URL"
            required
            ></v-text-field>
        <v-text-field
            ref="scope"
            v-model="scope"
            :rules="[() => !!scope || 'This field is required']"
            :error-messages="errorMessages"
            label="Add Scope"
            placeholder="Frappe Scopes"
            required
            ></v-text-field>
        </v-card-text>
        <v-divider class="mt-5"></v-divider>
        <v-card-actions>
          <v-btn flat>Cancel</v-btn>
          <v-spacer></v-spacer>
          <v-slide-x-reverse-transition>
            <v-tooltip
              v-if="formHasErrors"
              left
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  class="my-0"
                  @click="resetForm"
                  v-on="on"
                >
                  <v-icon>refresh</v-icon>
                </v-btn>
              </template>
              <span>Refresh form</span>
            </v-tooltip>
          </v-slide-x-reverse-transition>
          <v-btn :disabled="!!uuid" color="primary" flat @click="create">create</v-btn>
          <v-btn :disabled="!uuid" color="primary" flat @click="update">update</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
    >
      {{ snackBarText }}
      <v-btn
        flat
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>
<script>
import * as frappeService from '../services/frappe-client/frappe.service';
import { UPDATE_FAILED } from '../constants/storage';

export default {
    data: () => ({
      uuid: '',
      name: '',
      errorMessages: '',
      clientId: null,
      clientSecret: null,
      profileURL: null,
      tokenURL: null,
      authorizationURL: null,
      revocationURL: null,
      authServerURL: null,
      scope: [],
      formHasErrors: false,
      snackbar: false,
      y: 'bottom',
      x: null,
      timeout: 5000,
      snackBarText: '',
    }),

    computed: {
      form() {
        return {
          clientId: this.clientId ,
          clientSecret: this.clientSecret,
          profileURL: this.profileURL,
          tokenURL: this.tokenURL,
          authorizationURL: this.authorizationURL,
          revocationURL: this.revocationURL,
          scope: [],
        };
      },
    },

    watch: {
      name() {
        this.errorMessages = '';
      },
    },

    created() {
      this.uuid = this.$router.currentRoute.params.uuid;
      if (this.uuid && this.uuid !== 'new') {
        this.subscribeGetClient(this.uuid);
      } else {
        this.uuid = null;
      }
    },

    methods: {
      addressCheck() {
        this.errorMessages = this.address && !this.name
          ? 'Hey! I\'m required'
          : '';
        return true;
      },
      resetForm() {
        this.errorMessages = [];
        this.formHasErrors = false;

        Object.keys(this.form).forEach(f => {
          this.$refs[f].reset();
        });
      },
      create() {
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true;
          this.$refs[f].validate(true);
        });
        let scopeList = this._data.scope;
        if (scopeList.length > 0){
          scopeList = scopeList.split(',');
        }
        else{
          this.formHasErrors = true;
        }
        if (!this.formHasErrors){
          frappeService.createFrappeClient(
            this._data.name,
            this._data.authorizationURL,
            this._data.clientId,
            this._data.clientSecret,
            this._data.profileURL,
            this._data.revocationURL,
            scopeList,
            this._data.authServerURL,
            this._data.tokenURL,
          )
          .then(response => this.$router.push({ path: '/listing/frappe' }))
          .catch(err => {});
        }
      },
      update(){
        frappeService.updateFrappeClient(
          this._data.uuid,
          this._data.name,
          this._data.authorizationURL,
          this._data.clientId,
          this._data.clientSecret,
          this._data.profileURL,
          this._data.revocationURL,
          this._data.scope,
          this._data.authServerURL,
          this._data.tokenURL,
        )
        .then(response => this.$router.push({ path: '/listing/frappe' }))
        .catch(err => {
          this._data.snackbar = true;
          this._data.snackBarText = UPDATE_FAILED;
        });
      },
      subscribeGetClient(uuid){
        frappeService.getFrappeClient(uuid).then(
          response => {
            this._data.name = response.data.name;
            this._data.authorizationURL = response.data.authorizationURL;
            this._data.clientId = response.data.clientId;
            this._data.authServerURL = response.data.authServerURL;
            this._data.clientSecret = response.data.clientSecret;
            this._data.profileURL = response.data.profileURL;
            this._data.revocationURL = response.data.revocationURL;
            this._data.scope = response.data.scope;
            this._data.tokenURL = response.data.tokenURL;
          },
        );
      },
    },
  };
</script>