<template>
</template>

<script lang="ts">
import Vue from 'vue';
import loginHelperService from '../services/login-helper/login-helper.service';
import storageService from '../services/storage/storage.service';
import loginService from '../services/login/login.service';
import { from } from 'rxjs/observable/from';
import { ACCESS_TOKEN, TOKEN_EXPIRY } from '../constants/storage';

export default Vue.extend({
    data(){
      return {};
    },
    created(){
      const expiry = localStorage.getItem(TOKEN_EXPIRY);
      if (expiry === null) {
        loginHelperService.getInfo().subscribe({
          next: (response: any) => {
            if (response.data.message) {
              return;
            }
            storageService.setLocalStorage(response.data);
            from(loginService.login()).subscribe({
              next: done => {
              },
              error : err => {
              },
            });
          },
          error: error => {
          },
        });
      } else if (new Date(expiry) < new Date()) {
        loginService.renewToken().then(response => {
          localStorage.setItem(ACCESS_TOKEN, response.access_token);
          localStorage.setItem(TOKEN_EXPIRY, Date() );
          return;
        }).catch(err => {
          loginService.login();
          return;
        });
      }
    },
});
</script>

