<template>
  <div id="pageTable" >
     <v-card-text style="position: relative">
            <v-fab-transition>
              <v-btn
                v-show="!hidden"
                color="pink"
                @click.stop="newItem()"
                dark
                fixed
                top
                right
                fab
              >
                <v-icon>add</v-icon>
              </v-btn>
            </v-fab-transition>
          </v-card-text>
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-flex lg12>
          <v-card>
            <v-toolbar card color="white">
              <v-text-field
              flat
              solo
              prepend-icon="search"
              placeholder="Type something"
              v-model="search"
              hide-details
              class="hidden-sm-and-down"
              ></v-text-field>
              <v-btn icon>
                <v-icon>filter_list</v-icon>
              </v-btn>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text class="pa-0">
              <v-data-table
                :headers="complex.headers"
                :search="search"
                :items="complex.items"
                :rows-per-page-items="[10,25,50,{text:'All','value':-1}]"
                class="elevation-1"
                item-key="uuid"
                >
                <template slot="items" slot-scope="props" >
                  <td @click.stop="getItem(props.item.uuid)">
                      {{ props.item.uuid }}
                  </td>
                  <td>{{ props.item.name }}</td>
                </template>
              </v-data-table>
            </v-card-text>

          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import * as listing from '../services/listing/listing.service';
import router from '../router';
import { from } from 'rxjs/observable/from';
import { REQUEST_LOG } from '../constants/storage';

let model = '';
export default Vue.extend({
    data(){
        model = this.$router.currentRoute.params.model;
        return {
          search: '',
          hidden: false,
          complex: {
            headers: [
              {
                text: 'UUID',
                value: 'uuid',
              },
              {
                text: 'Name',
                value: 'name',
              },
              ],
            items: [],
            },
      };
    },
     created(){
        from(listing.findModels(model)).subscribe({
          next: (data: any) => {
            this._data.complex.items = data.data.docs;
          },
          error: err => {},
        });
    },
    methods: {
      getItem(uuid){
        router.push('/' + model + '/' + uuid);
      },
      newItem(){
        router.push('/' + model + '/' + 'new');
      },
    },
    watch: {
    $route(to, until){
        model = this.$router.currentRoute.params.model;
        if (model === REQUEST_LOG){
          this.hidden = true;
        }else{
          this.hidden = false;
        }
        this._data.complex.items = [];
        from(listing.findModels(model)).subscribe({
          next: (data: any) => {
            this._data.complex.items = data.data.docs;
          },
          error: err => {},
        });
    },
},
});
</script>
