<template>
  <v-layout justify-center>
    <v-flex xs12 sm10 md8 lg6>
      <v-card ref="form">
        <v-card-text>
          <v-text-field
            ref="providerUuid"
            v-model="providerUuid"
            :disabled="!!uuid"
            label="Provider UUID"
            placeholder="Provider UUID"
            required
          ></v-text-field>
          <v-text-field
            ref="userUuid"
            v-model="userUuid"
            :disabled="!!uuid"
            label="User UUID"
            placeholder="User UUID"
            required
          ></v-text-field>
          <v-textarea
           name="input-7-1"
          label="Success Response"
          :value="successResponse"
          :readonly="!!uuid"
          ></v-textarea>
          <v-text-field
            ref="creation"
            v-model="creation"
            :disabled="!!uuid"
            label="Creation Date"
            placeholder="Creation Date"
            required
          ></v-text-field>
          <v-textarea
           name="input-7-1"
          label="Failure Response"
          :value="failResponse"
          :readonly="!!uuid"
          ></v-textarea>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import * as logService from '../services/request-log-service/request_log.service';
import { from } from 'rxjs/observable/from';
export default {
    data: () => ({
      uuid: ' ',
      errorMessages: '',
      providerUuid: '',
      userUuid: '',
      creation: '',
      successResponse: '',
      failResponse: '',
      formHasErrors: false,
    }),
    computed: {
      form() {
        return {
          providerUuid: this.providerUuid,
          userUuid: this.userUuid,
          creation: this.creation,
          successResponse: this.successResponse,
          failResponse: this.failResponse,
        };
      },
    },

    watch: {
      name() {
        this.errorMessages = '';
      },
    },

    created() {
      this.uuid = this.$router.currentRoute.params.uuid;
      if (this.uuid) {
        this.subscribeGetRequestLogs(this.uuid);
      } else {
        this.uuid = null;
      }
    },

    methods: {
      addressCheck() {
        this.errorMessages = this.address && !this.name
          ? 'Hey! I\'m required'
          : '';
        return true;
      },
      resetForm() {
        this.errorMessages = [];
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          this.$refs[f].reset();
        });
      },
      submit() {
        this.formHasErrors = false;
        Object.keys(this.form).forEach(f => {
          if (!this.form[f]) this.formHasErrors = true;
          this.$refs[f].validate(true);
        });
      },
      subscribeGetRequestLogs(uuid){
        from(logService.getRequestLogs(uuid)).subscribe({
          next: response => {
            this.providerUuid = response.data.providerUuid;
            this.userUuid = response.data.userUuid;
            this.creation = response.data.creation;
            if (response.data.successResponse){
              this.successResponse = JSON.stringify(response.data.successResponse, null, 4);
            }
            if (response.data.failResponse){
              this.failResponse = JSON.stringify(response.data.failResponse, null, 4);
            }
          },
          error: err => {},
        });
      },
    },
  };
</script>